<component name="ArtifactManager">
  <artifact type="war" name="Spring-Security-Security-section:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>Spring-Security-Security-section</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="spring-security-demo.war">
      <element id="artifact" artifact-name="Spring-Security-Security-section:war exploded" />
    </root>
  </artifact>
</component>